<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Senhas</title>
</head>
<body>
    <h1>Minhas Senhas</h1>
    <a href="/add">Adicionar nova senha</a>
    <ul>
        {% for item in senhas %}
            <li>
                <strong>{{ item.service }}</strong> | {{ item.username }} | {{ item.password }}
                <a href="/edit/{{ item.id }}">Editar</a>
                <a href="/delete/{{ item.id }}">Deletar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
